
<head>
    <style>
    .box {
        border : white;
        border-style : solid;
        padding : 1%;
        margin : 1%;
        margin-left: 0px;
        marge-right: 0px;
        background-color:grey
    }
    .box:hover {
        background-color:black;
    }
    </style>
</head><p>.</p>
<div class='box'>
	<p>readme.md</p>
	<div class='box'>

	<div class='base'>
		<p>
			This is an libre ( free/open-source ) mod manager for pokemon super mystery dungeon and pokémon mystery dungeon : gate to the infinite ( while this isn't tested ), which allow to use multiple compatible mod at once.
		</p>
		<p>
			
		</p>
		<p>
			It work ( tested ) on gnu/linux ( gentoo and arch ), but can also probably work with macOS and windows ( but with gnu emulator for windows, like cygwin or windows subsystem call for linux ). To make it run, you need make and python3.
		</p>
		<p>
			
		</p>
		<p>
			To make it run, configure the file config.xml in the mods folder.
		</p>
		<p>
			with the default setting, you MUST run the run.py script IN THE LMOD FOLDER.
		</p>
		<p>
			
		</p>
		<p>
			how to use it :
		</p>
		<p>
			- configure the config.xml in the mods folder
		</p>
		<p>
			- go in the LMOD folder
		</p>
		<p>
			- execute run.py with python 3 ( python3 run.py )
		</p>
		<p>
			- clean the data from the previous compilation ( make clean)
		</p>
		<p>
			- build the mod ( make -j thread), where thread is replaced by the number of thread you want to run at once ( if you dont know what it is put 5 )
		</p>
		<p>
			- if this fail recommence from the clean step, but with only one thread to the last step. if it refail, contact me.
		</p>
		<p>
			
		</p>
		<h2>
			 mods included :
		</h2>
		<p>
			- menu_base : a menu which allow to select different mod which can be lauched at any moment ( like the freecam mod )
		</p>
		<p>
			- menu_loader_other : allow to display the menu ( menu_base ) by pressing L and the other setting ( in the pause menu )
		</p>
		<p>
			- camera-eddy : the original freecammod by eddyK28. only work on PSMD.
		</p>
		<p>
			- camera2-eddy : the enhanced freecammod by eddyK28. Also allow to move the camera in dungeon. Originaly made for GTI, but work without problem on PSMD, however there is some thing you cant do with this version that you can on the original version ( camera-eddy ), like change your pokemon species.
		</p>
	</div>	</div>
	<p>howto</p>
	<div class='box'>
		<p>howto.md</p>
		<div class='box'>

		<div class='base'>
			<p>
				This folder contain multiplie howto ( simple guided step to do something ).
			</p>
		</div>		</div>
	</div>
	<p>technical</p>
	<div class='box'>
		<p>readme.md</p>
		<div class='box'>

		<div class='base'>
			<p>
				technical information about psmod
			</p>
		</div>		</div>
	</div>
	<p>doc.md</p>
	<div class='box'>

	<div class='base'>
		<p>
			./howto:
		</p>
		<p>
			quick guide
		</p>
		<p>
			
		</p>
		<p>
			./mod:
		</p>
		<p>
			information on how to write a modPack
		</p>
		<p>
			
		</p>
		<p>
			./mod/mods
		</p>
		<p>
			information on every mod
		</p>
		<p>
			
		</p>
		<p>
			./technical:
		</p>
		<p>
			technical information about the project
		</p>
	</div>	</div>
	<p>group_mod</p>
	<div class='box'>
		<p>readme.md</p>
		<div class='box'>

		<div class='base'>
			<p>
				Document on writing 
				<a href='./group_mod/group_of_mod.md'>group of mod</a>
				
			</p>
		</div>		</div>
		<p>group_of_mod.md</p>
		<div class='box'>

		<div class='base'>
			<h1>
				 group of mod
			</h1>
			<h2>
				 definition
			</h2>
			<p>
				A 
				<a href='./group_mod/group_of_mod.md'>group of mod</a>
				 is a rassemblement of 
				<a href='./mod/mod_pack.md'>mod pack</a>
				. That the thing that you compile with psmod. It is represented by a folder.
			</p>
			<h2>
				 files in the folder :
			</h2>
			<p>
				- 
				<a href='./group_mod/config.xml.md'>config.xml</a>
				 is the file which indicate what mod to include, and various other parameter.
			</p>
			<p>
				- one folder by 
				<a href='./mod/mod_pack.md'>mod pack</a>
				
			</p>
		</div>		</div>
		<p>config.xml.md</p>
		<div class='box'>

		<div class='base'>
			<h1>
				 config.xml
			</h1>
			<h2>
				 what is config.xml
			</h2>
			<p>
				config.xml is a file which is used to configure a group of modification. It is used to determine which 
				<a href='./mod/mod_pack.md'>modPack</a>
				 to include, 
				<a href='./group_mod/flag.md'>flag</a>
				 to use, and various parameter ( for the full list, see 
				<a href='./setting.xml'>setting.xml</a>
				setting.xml
				.
			</p>
			<h2>
				 config.xml format
			</h2>
			<p>
				the config.xml file is an 
				<a href='./doc/xml.html'>xml</a>
				 file. The root tag should be <config>. So, the minimal configuration file is :
			</p>
			<p>
				  <config>
			</p>
			<p>
				  </config>
			</p>
			<h3>
				 the mod tag
			</h3>
			<p>
				The <mod> tag is used to enable a mod. the text should be the name of the folder containing the 
				<a href='./mod/mod_pack.md'>modPack</a>
				modPack
				, and the 
				<a href='./mod/mod_pack.md'>modPack</a>
				modPack
				
			</p>
			<h3>
				 the flag tag
			</h3>
			<p>
				modPack
				 specific 
				<a href='./group_mod/flag.md'>flag</a>
				. For example, to enable the DEBUG flag, you should write :
			</p>
			<p>
				  <flag>DEBUG</flag>
			</p>
			<p>
				flag which begin by a - is used to disable a flag. The following example disable the DEBUG flag :
			</p>
			<p>
				  <flag>-DEBUG</flag>
			</p>
			<p>
				It is hightly recommanded to put a flag for the game you want to use with this :
			</p>
			<p>
				- <flag>PSMD</flag> if you use super mystery dungeon
			</p>
			<p>
				- <flag>GTI</flag> if you use gate to infinite
			</p>
			<p>
				for more information, see the 
				<a href='./game.md'>game page</a>
				.
			</p>
			<h3>
				 the setting tag
			</h3>
			<p>
				The <setting> tag is used to modify / enable a global option. For example, to modify the render directory, use
			</p>
			<p>
				  <setting>destination_directory=./renderDir</setting>
			</p>
			<p>
				For the full list of setting, see the 
				<a href='./setting.html'>setting page</a>
				
			</p>
		</div>		</div>
	</div>
	<p>TODO.md</p>
	<div class='box'>

	<div class='base'>
		<h1>
			 (0/10) TODO
		</h1>
		<h2>
			 (0/3) allow the use of special character in markdown file for documention
		</h2>
		<p>
			- (0/1) create a special character table
		</p>
		<p>
			- (0/2) include those special character :
		</p>
		<p>
			-- (0/1) >
		</p>
		<p>
			-- (0/1) <
		</p>
		<h2>
			 (0/2) ability to made list in the documentation
		</h2>
		<p>
			- (0/1) list of a single character ( like this line )
		</p>
		<p>
			- (0/1) list of multiple character ( like this : -- text )
		</p>
		<h2>
			 (0/1) translation of mods
		</h2>
		<p>
			- (0/1) translate in these language :
		</p>
		<p>
			-- (0/1) french
		</p>
		<p>
			--- (0/1) finish translation of eddy-cam
		</p>
		<h2>
			 (0/1) a tool to manage todo list
		</h2>
		<h2>
			 (0/1) more mod for psmod
		</h2>
		<p>
			- (0/1) a starter mod
		</p>
		<h2>
			 (0/1) import from skyeditor mod
		</h2>
		<h2>
			 (0/1) make link reference to another part of the document in the documentation
		</h2>
		<h1>
			 DONE
		</h1>
	</div>	</div>
	<p>default_modPack</p>
	<div class='box'>
		<p>menu_base</p>
		<div class='box'>
			<p>readme.md</p>
			<div class='box'>

			<div class='base'>
				<p>
					this modPack is created by marius851000, using some code from EddyK28. All of the menu.lua file is under MIT licence.
				</p>
				<p>
					
				</p>
				<p>
					This modPack add a menu in which you can lauch any compatible modPack script which can run at any moment, for example the free cam mod.
				</p>
				<p>
					Please note that this modPack doesnt offer the any way to open it, so you should use another modPack to open it ( take a look at 
					<a href='./default_modPack/menu_loader_other/Readme.txt'>menu_loader_other</a>
					menu_loader_other
					.
				</p>
				<p>
					
				</p>
				<p>
					To add a script in this mod menu, see the 
					<a href='./modPack/db/entrypoint.md'>entrypoint db page</a>
					
				</p>
			</div>			</div>
		</div>
		<p>camera2-eddy</p>
		<div class='box'>
			<p>License.txt</p>
			<div class='box'>
<p>MIT License<br />
<br />
Copyright (c) 2018 EddyK28<br />
<br />
Permission is hereby granted, free of charge, to any person obtaining a copy<br />
of this software and associated documentation files (the "Software"), to deal<br />
in the Software without restriction, including without limitation the rights<br />
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
copies of the Software, and to permit persons to whom the Software is<br />
furnished to do so, subject to the following conditions:<br />
<br />
The above copyright notice and this permission notice shall be included in all<br />
copies or substantial portions of the Software.<br />
<br />
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br />
SOFTWARE.<br />
<br />
</p>			</div>
			<p>original-readme.txt</p>
			<div class='box'>
<p>Gates Free-Cam Mod/Hack<br />
By EddyK28<br />
<br />
<br />
Installation:<br />
<br />
If you're using Luma3DS, make sure to enable game patching (see https://github.com/AuroraWright/Luma3DS/wiki/Optional-features), and place the provided "RomFS" folder in the "luma/titles/00040000000BA800" folder on your 3DS SD card (you may have to create one of more these folders).<br />
<br />
If you want to patch a ROM file, you're mostly on your own.  However, I do suggest to try using the .Net 3DS Toolkit (https://github.com/evandixon/DotNet3dsToolkit/releases/latest)<br />
<br />
<br />
<br />
Use:<br />
<br />
Hold the "L" or "X" button while opening the "Others" menu to activate Free-Cam.  The lower screen shows the controls for the current camera mode, which can be changed through the menu.  You can also change the species of the hero and partner Pokemon with the "PKID Menu", although this should not be used for regular gameplay (it messes up your stats).<br />
<br />
WARNING: Just to be safe, don't save you game after having used this.  This has been tested to not immediately destroy your game, but I can in no way guarantee that it won't eventually muck up your save, kill your console, burn down your house or destroy the entire universe.<br />
<br />
Also, please note, the camera and character always move in world coordinates, not relative to the current camera position.  This could be changed, but I don't really feel like it.  If you like, feel free to make any modifications to the code, or use it as a loader for your own menu based mods (see below).<br />
<br />
<br />
<br />
Misc:<br />
<br />
The main code of this mod/hack is stored in "script/mods/main.lua".  This code can be modified to alter Free-Cam's behavior, or entirely replaced to make your own menu based mod.  You could even write some code to selectably load other files from a menu to make a whole mod loader!<br />
<br />
"menu_dungeon.lua" is a modified version an original game script, and should probably not be altered unless you know what you're doing (or like breaking things).<br />
<br />
</p>			</div>
		</div>
		<p>camera-eddy</p>
		<div class='box'>
			<p>original-readme.txt</p>
			<div class='box'>
<p>PSMD Free-Cam Mod/Hack<br />
By EddyK28<br />
<br />
<br />
Installation:<br />
<br />
If you're using Luma3DS, make sure to enable game patching (see https://github.com/AuroraWright/Luma3DS/wiki/Optional-features), and place the provided "RomFS" folder in the "luma/titles/0004000000174600" folder on your 3DS SD card (you may have to create one of more these folders).<br />
<br />
If you want to patch a ROM file, you're mostly on your own.  However, I do suggest to try using the .Net 3DS Toolkit (https://github.com/evandixon/DotNet3dsToolkit/releases/latest)<br />
<br />
<br />
<br />
Use:<br />
<br />
Hold the "L" or "X" button while opening the "Others" menu to activate Free-Cam.  The lower screen shows the controls for the current camera mode, which can be changed through the menu.  You can also change the species of the hero and partner Pokemon with the "PKID Menu", although this should not be used for regular gameplay (it messes up your stats).  <br />
<br />
WARNING: Just to be safe, don't save you game after having used this.  This has been tested to not immediately destroy your game, but I can in no way guarantee that it won't eventually muck up your save, kill your console, burn down your house or destroy the entire universe.  <br />
<br />
Also, please note, the camera and character always move in world coordinates, not relative to the current camera position.  This could be changed, but I don't really feel like it.  If you like, feel free to make any modifications to the code, or use it as a loader for your own menu based mods (see below).<br />
<br />
<br />
<br />
Misc:<br />
<br />
The main code of this mod/hack is stored in "script/mods/main.lua".  This code can be modified to alter Free-Cam's behavior, or entirely replaced to make your own menu based mod.  You could even write some code to selectably load other files from a menu to make a whole mod loader!  <br />
<br />
"menu_new_dungeon.lua" is a modified version an original game script, and should probably not be altered unless you know what you're doing (or like breaking things).<br />
</p>			</div>
		</div>
		<p>menu_loader_other</p>
		<div class='box'>
			<p>Readme.txt</p>
			<div class='box'>
<p>based on the PSMD Free-Cam Mod/Hack By EddyK28<br />
<br />
The mod allow you to open the mod selection menu by opening the other menu while pressing L or R.<br />
<br />
</p>			</div>
		</div>
	</div>
	<p>modPack</p>
	<div class='box'>
		<p>mods</p>
		<div class='box'>
			<p>readme.md</p>
			<div class='box'>

			<div class='base'>
				<p>
					information for mods ( source in psmod/mods ), focused on modPack writer
				</p>
			</div>			</div>
		</div>
		<p>readme.md</p>
		<div class='box'>

		<div class='base'>
			<p>
				This folder contain information on how to write a modPack.
			</p>
			<p>
				
			</p>
			<p>
				for basic explanation, see the 
				<a href='./modPack/basic_explanation.md'>basic explanation page</a>
				.
			</p>
		</div>		</div>
		<p>basic_explanation.md</p>
		<div class='box'>

		<div class='base'>
			<h1>
				 what is a modPack
			</h1>
			<p>
				A 
				<a href='./modPack/modPack.md'>modPack</a>
				 is the name given to modifications that the end user can apply to the game. It is represented by a folder, which contain at least a 
				<a href='./modPack/config.xml.md'>config.xml</a>
				 file, and optionnaly file to patch.
			</p>
		</div>		</div>
	</div>
	<p>setting.html</p>
	<div class='box'>
<!-- this file is autogenerated by settingDoc.py -->

<div><h1>root</h1>
<p>default value : None</p>
<p>url : </p>
<p>child :</p><ul>
<li>
<div><h2>generate_make</h2>
<p>default value : True</p>
<p>url : generate_make</p>
<p>generate the makefile if set to true</p>
</div class='param,paramL2'></li>
<li>
<div><h2>make</h2>
<p>default value : None</p>
<p>url : make</p>
<p>child :</p><ul>
<li>
<div><h3>write</h3>
<p>default value : True</p>
<p>url : make/write</p>
<p>write the generated make file if set to True</p>
<p>additional comment :</p>
<ul>
<li>comment : write the generated make file if set to True</li>
<li>ifTrue : write the generated makefile.</li>
<li>ifFalse : do not write the generated makefile.</li>
<li>depend : generate_make=True</li>
</ul>
</div class='param,paramL3'></li>
</ul>
</div class='param,paramL2'></li>
<li>
<div><h2>destination_directory</h2>
<p>default value : ./render/</p>
<p>url : destination_directory</p>
<p>the destination directory.</p>
</div class='param,paramL2'></li>
<li>
<div><h2>mod_directory</h2>
<p>default value : ./</p>
<p>url : mod_directory</p>
<p>the directory with all the subfolder of the mod</p>
</div class='param,paramL2'></li>
<li>
<div><h2>language</h2>
<p>default value : en_US</p>
<p>url : language</p>
<p>The language of the mod to generate</p>
</div class='param,paramL2'></li>
</ul>
</div class='param,paramL1'>
	</div>
</div>

